@model IEnumerable<Projekt.Models.Order>

@{
    ViewData["Title"] = "Moje zamówienia";
}

<h1>Moje zamówienia</h1>

@if (!Model.Any())
{
        <p>Nie masz żadnych zamówień.</p>
}
else
{
        <div class="row">
        @foreach (var item in Model)
        {
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="card-title">@item.Hotel.Name</h5>
                                <p class="card-text">
                                    <strong>Data zameldowania:</strong> @item.CheckInDate.ToShortDateString()<br>
                                    <strong>Data wymeldowania:</strong> @item.CheckOutDate.ToShortDateString()<br>
                                    <strong>Cena za noc:</strong> @item.Hotel.PricePerNight zł<br>
                                    <strong>Adres:</strong> @item.Hotel.Address<br>
                                    <strong>Status:</strong>
                            @if (item.CancellationRequested)
                            {
                                            <span class="text-warning">Anulowanie w trakcie</span>
                            }
                            else
                            {
                                            <span class="text-success">Zatwierdzone</span>
                            }
                                </p>
                        @if (!item.CancellationRequested)
                        {
                                        <form asp-action="RequestCancellation" method="post">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit" class="btn btn-danger">Poproś o anulowanie</button>
                                        </form>
                        }
                            </div>
                        </div>
                    </div>
        }
        </div>
}
